/* 
    Document   : lawOfficeMetro
    Created on : Sep 24, 2014, 7:45:02 PM
    Author     : Igor
    Description:
        Purpose of the stylesheet follows.
*/

.background{
    -fx-background-color: #4d4d4d;
    /* -fx-background-color:
    linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
    linear-gradient(#020b02, #3a3a3a),
    linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%);*/
}
.dialog-background{
    /*-fx-background-color:#333333;*/
	
    -fx-background-color:
    linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
    linear-gradient(#020b02, #3a3a3a),
    linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%);
}

.dialog-background:header *.header-panel{
    -fx-background-color: #333333;
}


.header{
    -fx-font-size: 42pt;
    -fx-font-family: "Malgun Gothic";
    -fx-text-fill: black;
}

.item-title{
    -fx-font-size: 12pt;
    -fx-font-family: "Malgun Gothic";
    -fx-text-fill: black;
    -fx-opacity: 0.6;

}
.tool-bar:horizontal {
    -fx-background-color:
        #1a1a1a;
}
.title-label{
    -fx-font-size: 36 pt;
    -fx-font-family: "Malgun Gothic";
    -fx-text-fill: #E6E6E6;
    -fx-font-weight: bold;
    
}
/*******************************************************************************
 *                                                                             *
 * Titled pane                                                               *
 *                                                                             *
 ******************************************************************************/
.titled-paneLabel{
    -fx-font-size: 14pt;
    -fx-font-family: "Malgun Gothic";
    -fx-text-fill: #E6E6E6;
    -fx-font-weight: bold;
}
.titled-pane > .title {
    -fx-background-color: #1A1A1A;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 0 0 0, 0 0 0 0, 0 0 0 0;
    -fx-padding: 0.166667em 1.166667em 0.25em 0; /* 2 14 3 0 */
    -fx-color: -fx-focus-color;

}
.titled-pane > .title > .arrow-button .arrow {
    -fx-background-color: white;

}
.titled-pane > *.content 
{
    -fx-background-color:#F5E5C7;
    -fx-background-insets: 0, 0 1 1 1;
    -fx-padding: 0.167em;
}
/*******************************************************************************
 *                                                                             *
 * Push Button                                                                 *
 *                                                                             *
 ******************************************************************************/

.button {
    -fx-padding: 5 5 5 5;   
    -fx-border-style: null; 
    -fx-background-radius: 0;

    -fx-background-color: #cccccc;

    -fx-font-family: "Malgun Gothic";
    -fx-font-size: 12pt;
    -fx-text-fill: #333333;
}

.button:hover{
    -fx-background-color: #007602;
}

.button:pressed, .button:default:hover:pressed
{
    -fx-background-color: #cccccc;
    -fx-text-fill: #333333;
}

/*.button:focused
{
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-style: segments(1, 1);
    -fx-background-insets: 0 0 0 0, 0, 1, 2;   
}*/

.button:disabled, .button:default:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color: #cccccc;
    -fx-text-fill: #212121;
}

.button:default
{
    -fx-background-color: #FF6600;
    -fx-text-fill: #333333;
}

.button:default:hover{
    -fx-background-color: #cccccc;
}

/*******************************************************************************
 *                                                                             *
 * OK BUTTON                                                               *
 *                                                                             *
 ******************************************************************************/

.buttonOK {
    -fx-padding: 5 22 5 22;   
    -fx-border-style: null; 
    -fx-background-radius: 0;

    -fx-background-color: #32b81d;

    -fx-font-family: "Malgun Gothic";
    -fx-font-size: 12pt;
    -fx-text-fill: #333333;
}

.buttonOK:hover{
    -fx-background-color: #007602;
}

.buttonOK:pressed, .button:default:hover:pressed
{
    -fx-background-color: #ff9933;
    -fx-text-fill: #333333;
}

.buttonOK:focused
{
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-style: segments(1, 1);
    -fx-background-insets: 0 0 0 0, 0, 1, 2;   
}

.buttonOK:disabled, .button:default:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color: #cccccc;
    -fx-text-fill: #212121;
}

.buttonOK:default
{
    -fx-background-color: #008287;
    -fx-text-fill: #ffffff;
}

.buttonOK:default:hover{
    -fx-background-color: #219297;
}
/*******************************************************************************
 *                                                                             *
 * Toggle Button                                                               *
 *                                                                             *
 ******************************************************************************/

.toggle-button {
    -fx-padding: 5 22 5 22;   
    -fx-border-style: null; 
    -fx-background-radius: 0;

    -fx-background-color: #cccccc;

    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: black;
}

.toggle-button:focused {
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-style: segments(1, 1);
    -fx-background-insets: 0 0 0 0, 0, 1, 2;   
}

.toggle-button:hover {
    -fx-background-color: #d8d8d8;
    -fx-text-fill: black;
}

.toggle-button:selected {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.toggle-button:selected:hover {
    -fx-background-color: #666;
    -fx-text-fill: white;
}

.toggle-button:disabled {
    -fx-opacity: -fx-disabled-opacity;
}


/*******************************************************************************
 *                                                                             *
 * Check Box                                                                   *
 *                                                                             *
 ******************************************************************************/

.check-box {
    -fx-text-fill: black;
}

.check-box .box {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: #bababa;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-padding: 1;
}

.check-box .mark {
    -fx-background-color: transparent;
    -fx-background-insets: 0;

    -fx-padding:7px;
    -fx-shape: "M1,10L3,8L7,12L14,5L16,7L7,16Z"
}

.check-box:focused .box{
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: black, #bababa;
    -fx-border-width: 1, 2;
    -fx-border-style: segments(1, 1), solid;
    -fx-border-insets: -3, 0;
}

.check-box:selected .mark {
    -fx-background-color: black;
}

.check-box:indeterminate .mark {
    -fx-background-color: black; 
    -fx-background-insets: 2.8; 
    -fx-padding:7px;
    -fx-shape: null;
}

.check-box:disabled
{
    -fx-opacity: 0.4;
}

.check-box:disabled .box
{
    -fx-background-color: #cdcdcd;
    -fx-border-color: #aaa;

}

.check-box:armed .box
{
    -fx-background-color: white, black;
    -fx-background-insets: -1, 2;
    -fx-background-radius: 0, 0;
}

.check-box:armed .box .mark
{
    -fx-background-color: white;
}

/*******************************************************************************
 *                                                                             *
 * Radio Button                                                                *
 *                                                                             *
 ******************************************************************************/

.radio-button {
    -fx-text-fill: #212121;
}

.radio-button .radio  {
    -fx-background-color: white;
    -fx-background-radius: 1.0em; /* large value to make sure this remains circular */
    -fx-background-insets: 0;

    -fx-border-radius: 1.0em;
    -fx-border-color: #bababa;

    -fx-padding: 4px; /* 4 -- padding from outside edge to the inner black dot */
}

.radio-button:hover .radio {
    -fx-border-color: #919191;
}


.radio-button .dot {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 1.0em; /* large value to make sure this remains circular */
    -fx-padding: 6px; /* 3 -- radius of the inner black dot when selected */
}

.radio-button:selected .dot {
    -fx-background-color: #212121;
}

.radio-button:disabled
{
    -fx-opacity: 0.5;
}

.radio-button:disabled .radio
{
    -fx-background-color: #e6e6e6;
    -fx-border-color: #d9d9d9;
}

.radio-button:focused .radio
{
    -fx-background-color: white;
    -fx-background-radius: 1.0em; /* large value to make sure this remains circular */
    -fx-background-insets: 0;

    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 1.0em, 0;
    -fx-border-color: #bababa, black;
    -fx-border-insets: 0px, -2px;
    -fx-border-width: 1px, 1px;

    -fx-padding: 4px; /* 4 -- padding from outside edge to the inner black dot */   
}

.radio-button:armed .radio {
    -fx-background-color: #212121;
    -fx-border-color: #212121;
}

.radio-button:pressed .radio
{
    -fx-background-color: #212121;
    -fx-border-color: #212121;
}

.radio-button:pressed:selected .dot
{
    -fx-background-color: white;
}

.radio-button:armed .dot
{
    -fx-background-color: black;
}

.radio-button:focused:armed .radio
{
    -fx-background-color: #212121;
    -fx-background-radius: 1.0em; /* large value to make sure this remains circular */
    -fx-background-insets: 0;

    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 1.0em, 0;
    -fx-border-color: #212121, #212121;
    -fx-border-insets: 0px, -2px;
    -fx-border-width: 1px, 1px;

    -fx-padding: 4px; /* 4 -- padding from outside edge to the inner black dot */   
}

/*******************************************************************************
 *                                                                             *
 * Tooltip                                                                     *
 *                                                                             *
 ******************************************************************************/

.tooltip {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-background-radius: 0 0 0 0;
/*   // -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em;  4 8 4 8; */
    -fx-effect: dropshadow( one-pass-box , #808080 , 5, 0.0 , 0 , 0 );
    -fx-font-family: "Segoe UI Semilight", "Segoe UI Light", "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-text-fill: #949494;
}

.page-corner {
    -fx-padding: 4.5 4.5 4.5 4.5;
    -fx-background-color: transparent;
    -fx-shape: null;
    -fx-effect: null;
}


/*******************************************************************************
 *                                                                             *
 * PopupMenu                                                                   *
 *                                                                             *
 ******************************************************************************/

.context-menu {
    -fx-background-color: white;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 0 0 0, 0 0 0 0, 0 0 0 0;
    -fx-padding: 0.333333em 0em 0.333333em 0em; /* 4 1 4 1 */

    /* TODO: the border color below is not being respected - it appears as gray instead of black*/
    -fx-border-color: #212121;
    -fx-border-style: solid;
}

.context-menu .separator .line{
    -fx-padding: 0.0em 0.333333em 0.0em 0.333333em;  /*0 4 0 4 */
    -fx-border-style: solid;
    -fx-background-color: #c2c2c2;
    -fx-border-width: 0.5px;
}

/* TODO: try to scope the menu-item style to the contextmenu */
.menu-item {
    -fx-background-color: transparent;
    -fx-padding: 0.666666em 0.999999em 0.4999995em 0.999999em;   /*6 12 6 12 */
}

.menu-item .label {
    -fx-padding: 0em 0.5em 0em 0em;
    -fx-text-fill: #212121;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
}


.menu-item:focused {
    -fx-background: -fx-accent;
    -fx-background-color: #dedede;
}

.menu-item:pressed
{
    -fx-background-color: #212121;
    -fx-text-fill: white;
}

.menu-item:pressed .label
{
    -fx-text-fill: white;
}
/*******************************************************************************
 *                                                                             *
 * MenuBar                                                                   *
 *                                                                             *
 ******************************************************************************/
.menu-bar{
    -fx-background-color:#333333;
}
.menu:hover {
    -fx-background-color:#FF6600;
}
.menu:showing {
    -fx-background-color:#FF6600;
}
.menu-item:focused {
     -fx-background-color: #FF6600;
}
/*******************************************************************************
 *                                                                             *
 * ScrollBar                                                                   *
 *                                                                             *
 ******************************************************************************/

.scroll-bar .thumb{
    -fx-background-color: #cccccc;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.scroll-bar .thumb:hover {
    -fx-color: #dadada;
}

/* The following is not working. Maybe related to RT-10521*/
.scroll-bar .thumb:pressed {
    -fx-background-color: #1A1A1A;
}


.scroll-bar .track {
    -fx-background-color: #f0f0f0;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.scroll-bar .track-background {
    -fx-background-color: #f0f0f0;
    -fx-background-insets: 0;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: #f0f0f0;
    -fx-background-insets: 0;
    -fx-background-radius: 0;

    -fx-padding: 0.25em; /* 3 */
}

.scroll-bar .increment-button:hover, .scroll-bar .decrement-button:hover  {
    -fx-background-color: #dadada;
}

.scroll-bar .increment-button:pressed, .scroll-bar .decrement-button:pressed {
    -fx-background-color: #606060;
}

.scroll-bar:horizontal .increment-arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.5em 0.333333em 0.0em 0.0em; /* 6 4 0 0 */
    -fx-shape: "M7.626,12.876L4.251,8.751H7.14L11,12.876L7.14,17H4.251L7.626,12.876z";
}

.scroll-bar:vertical .increment-arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em 0.5em 0.0em 0.0em; /* 4 6 0 0 */
    -fx-shape: "M8.124,13.625l4.125-3.375v2.889l-4.125,3.86L4,13.139V10.25L8.124,13.625z";
}

.scroll-bar .increment-button:pressed .increment-arrow {
    -fx-background-color: white, white;
}

.scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.5em 0.333333em 0.0em 0.0em; /* 6 4 0 0 */
    -fx-shape: "M11,17H8.111l-3.86-4.124l3.86-4.125H11l-3.375,4.125L11,17z";
}

.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em 0.5em 0.0em 0.0em; /* 4 6 0 0 */
    -fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
}

.scroll-bar .decrement-button:pressed .decrement-arrow {
    -fx-background-color: white, white;
}

.scroll-bar:disabled {
    -fx-opacity: 0.4;
}

/*******************************************************************************
 *                                                                             *
 * ScrollPane                                                                  *
 *                                                                             *
 ******************************************************************************/

.scroll-pane {
    -fx-background-color: transparent,-fx-background;
}

.scroll-pane .corner {
    -fx-background-color: white, #f0f0f0;
}
/*******************************************************************************
 *                                                                             *
 * ListView                                                               *
 *                                                                             *
 ******************************************************************************/

.list-cell:filled:selected:focused, .list-cell:filled:selected {  
    -fx-text-fill: #1d1d1d;
   
}

/*.list-cell:filled:focused{
     -fx-background-color:#FF6600;
}*/

.list-cell:filled:hover {
    -fx-background-color: transparent, derive( #FF6600,80%);
    -fx-text-fill: white;
}
.list-view:hover{
    -fx-background-color: transparent, derive( #FF6600,80%);
    -fx-text-fill: white;
}

/*******************************************************************************
 *                                                                             *
 * ComboBox                                                                    *
 *                                                                             *
 ******************************************************************************/

.combo-box-base  {
    -fx-background-color:  white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em; /* 2 */
}
.combo-box:list-cell:filled:focused{
     -fx-background-color:white;
}
.combo-box-base:hover {
    -fx-background-color: white;
    -fx-border-style:solid;
    -fx-border-width: 2;
    -fx-border-color:#FF6600;
}
/*.combo-box-base:focused {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}*/

.combo-box-base:disabled {
    -fx-opacity: .4;
}

/* ------- OPEN BUTTON ------- */
.combo-box-base .arrow-button {
    -fx-background-color: transparent, transparent, white;
}

/* ------- ARROW* ------- */
.combo-box-base .arrow {
    -fx-padding: 0.333333em 0.333333em 0.333333em 0.333333em; /* 4 4 4 4 */
    -fx-shape: "M8.124,13.625l4.125-3.375v2.889l-4.125,3.86L4,13.139V10.25L8.124,13.625z";
}

.combo-box-popup .list-view {
    -fx-background-color: #909090, -fx-control-inner-background;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0) , 8, 0.0 , 0 , 0 );
}

.combo-box-popup .list-view .list-cell:hover{
    -fx-background-color: #dedede;
    -fx-text-fill: #1d1d1d;
}


.combo-box-popup .list-view .list-cell:filled:selected{
    -fx-background-color: #55c4fe;
}

.combo-box-base .combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background-color: #FF6600;
}

.combo-box-popup .list-view .list-cell:filled:pressed, .combo-box-popup .list-view .list-cell:filled:selected:pressed
{
    -fx-background-color: #d3d3d3;
    -fx-text-fill: #1d1d1d;
}
/*******************************************************************************
 *                                                                             *
 * TexField (Jfxtras)                                                       *
 *                                                                             *
 ******************************************************************************/
.text-field{
    -fx-background-color:white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em; /* 2 */
    -fx-border-color:#ffffff;
    -fx-border-style:solid;
    -fx-border-width: 2;
}
.text-imput{
    -fx-background-color: white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em; /* 2 */
}
.text-field:hover {
    -fx-background-color: white;
    -fx-border-color:#FF6600;
}
.text-imput:hover {
    -fx-background-color: transparent, #909090, transparent, white;
    -fx-border-color:#FF6600;
}
/*******************************************************************************
 *                                                                             *
 * TexField error                                                              *
 *                                                                             *
 ******************************************************************************/
.text-field-error{
    -fx-background-color:red;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em; /* 2 */
    -fx-border-color:red;
    -fx-border-style:solid;
    -fx-border-width: 2;
    -fx-prompt-text-fill: #ffffff;
}
.text-imput-error{
    -fx-background-color: white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em; /* 2 */
}
.text-field-error:hover {
    -fx-background-color: white;
    -fx-border-color:#FF6600;
}
.text-imput-error:hover {
    -fx-background-color: transparent, #909090, transparent, white;
    -fx-border-color:#FF6600;
}
/*******************************************************************************
 *                                                                             *
 * TexField (Jfxtras)                                                       *
 *                                                                             *
 ******************************************************************************/
.text-area{
    -fx-background-color: transparent, #bababa, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em; /* 2 */
    -fx-border-color:#bababa;
    -fx-border-style:solid;
    -fx-border-width: 1;
}
.text-area{
    -fx-background-color: transparent, #bababa, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em; /* 2 */
}
/*******************************************************************************
 *                                                                             *
 * ListSpinner (Jfxtras)                                                       *
 *                                                                             *
 ******************************************************************************/

.list-spinner { 
    -fx-skin: "jfxtras.labs.internal.scene.control.skin.ListSpinnerCaspianSkin";
    -fx-background-color: #f0f0f0;
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0;
    -fx-padding: 0em 0em 0em 0em;
    -fx-text-fill: #212121;
}

.list-spinner:hover {
    -fx-color: #f0f0f0;
}

/*.ListSpinner:focused { 
    -fx-color: -fx-focused-base;
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-background-radius: 6.4, 5, 4, 3;	
}*/

.list-spinner .value-pane { 
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}

.list-spinner .decrement-button, .list-spinner .increment-button
{
    -fx-background-color: #f0f0f0;
    -fx-padding: 1.2500em 0.5000em 1.2500em 0.5000em; /* 15 6 15 6*/
}

.list-spinner .left-arrow { 
    -fx-shape: "M301,415.5l-4.5,4.5l4.5,4.5h-3l-4.5-4.5l4.5-4.5H301z";
    -fx-scale-shape: false;
}

.list-spinner .decrement-button:hover {
    -fx-background-color: #dadada;
}

.list-spinner .decrement-button:pressed {
    -fx-background-color: #606060;

}
.list-spinner .decrement-button:pressed .left-arrow{ 
    -fx-background-color: white;
}

.list-spinner .right-arrow { 
    -fx-shape: "M296.5,415.5l4.5,4.5l-4.5,4.5h-3l4.5-4.5l-4.5-4.5H296.5z";
    -fx-scale-shape: false;
}

.list-spinner .increment-button:hover {
    -fx-background-color: #dadada;
}

.list-spinner .increment-button:pressed {
    -fx-background-color: #606060;

}
.list-spinner .increment-button:pressed .right-arrow {
    -fx-background-color: white;
}

.list-spinner .down-arrow { 
    -fx-shape: "M292.5,416.25l4.5,4.5l4.5-4.5v3l-4.5,4.5l-4.5-4.5V416.25z";
    -fx-scale-shape: false;
}
.list-spinner .up-arrow { 
    -fx-shape: "M292.5,420.75l4.5-4.5l4.5,4.5v3l-4.5-4.5l-4.5,4.5V420.75z";
    -fx-scale-shape: false;
}

.list-spinner .text
{
    -fx-font-family: "Segoe UI"
}

.list-spinner:disabled {
    -fx-opacity: .4;
}
/*******************************************************************************
 *                                                                             *
 * Table view                                                *
 *                                                                             *
 ******************************************************************************/
.table-view {
    -fx-base: #cccccc;
    -fx-control-inner-background: white;
    -fx-background-color: #1A1A1A;

    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: #1A1A1A;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 10pt;
    -fx-font-family:  "Malgun Gothic";
    -fx-text-fill: #E6E6E6;
    -fx-alignment: CENTER;
    -fx-opacity: 1;
}
.table-view .table-row-cell:hover{
    -fx-background-color: transparent, derive( #FF6600,80%);
}
.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #FF6600;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}
.table-view .scroll-bar:vertical{
    -fx-border-radius: 0;
}
.split-pane {
    -fx-padding: 1 0 0 0;
}
.label{
    -fx-font-family: "Malgun Gothic";
    -fx-font-size: 12pt;
    -fx-text-fill:#E6E6E6;
}
.infoLabel{
    -fx-font-family: "Malgun Gothic";
    -fx-font-size: 12pt;
    -fx-text-fill:#333333;

}
.infoLabelBold{
    -fx-font-family: "Malgun Gothic";
    -fx-font-size: 12pt;
    -fx-text-fill:#333333;
    -fx-font-weight: bold;
}
/*******************************************************************************
 *                                                                             *
 * Search TexField (Jfxtras)                                                       *
 *                                                                             *
 ******************************************************************************/
.search-field{
    -fx-background-color: transparent, #bababa, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em; /* 2 */
    -fx-border-color: #ffffff;
    -fx-border-style:solid;
    -fx-border-width: 2;
    -fx-font-family: "Malgun Gothic";
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
    -fx-background-image:url('images/search.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
}
.search-field{
    -fx-background-color: transparent, #bababa, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em; /* 2 */
}
.search-field:hover {
    -fx-background-color: transparent, #909090, transparent, white;
    -fx-border-color:#FF6600;
}
.search-field:hover {
    -fx-background-color: transparent, #909090, transparent, white;
    -fx-border-color:#FF6600;
}

/*******************************************************************************
 *                                                                             *
 * addClient Button                                                                 *
 *                                                                             *
 ******************************************************************************/

.addNewClient {
    -fx-padding: 5 22 5 22;   
    -fx-border-style: null; 
    -fx-background-radius: 0;
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/NovaStranka_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;

}

.addNewClient:hover{
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/NovaStranka_Narandzasta_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;  
}

.addNewClient:pressed, .addNewClient:default:hover:pressed
{
    -fx-background-image: url('images/NovaStranka_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-opacity: 0.7;
}

.addNewClient:disabled, .addNewClient:default:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/NovaStranka_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

/*******************************************************************************
 *                                                                             *
 * addOponent Button                                                                 *
 *                                                                             *
 ******************************************************************************/

.addOponent {
    -fx-padding: 5 22 5 22;   
    -fx-border-style: null; 
    -fx-background-radius: 0;
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/NoviProtivnik_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;

}

.addOponent:hover{
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/NoviProtivnik_Narandzasta_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;  
}

.addOponent:pressed, .addOponent:default:hover:pressed
{
    -fx-background-image: url('images/NoviProtivnik_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-opacity: 0.7;
}

.addOponent:disabled, .addOponent:default:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/NoviProtivnik_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

/*******************************************************************************
 *                                                                             *
 * addCase Button                                                                 *
 *                                                                             *
 ******************************************************************************/

.addCase {
    -fx-padding: 5 22 5 22;   
    -fx-border-style: null; 
    -fx-background-radius: 0;
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/NoviPredmet_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;

}

.addCase:hover{
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/NoviPredmet_Narandzasta_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;  
}

.addCase:pressed, .addCase:default:hover:pressed
{
    -fx-background-image: url('images/NoviPredmet_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-opacity: 0.7;
}

.addCase:disabled, .addCase:default:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/NoviPredmet_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}
/*******************************************************************************
 *                                                                             *
 * pattenrs Button                                                                 *
 *                                                                             *
 ******************************************************************************/

.pattenrs {
    -fx-padding: 5 22 5 22;   
    -fx-border-style: null; 
    -fx-background-radius: 0;
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/Muster_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;

}

.pattenrs:hover{
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/Muster_Narandzasta_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;  
}

.pattenrs:pressed, .pattenrs:default:hover:pressed
{
    -fx-background-image: url('images/Muster_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-opacity: 0.7;
}

.pattenrs:disabled, .pattenrs:default:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/Muster_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}
/*******************************************************************************
 *                                                                             *
 * jurisprudence Button                                                                 *
 *                                                                             *
 ******************************************************************************/

.jurisprudence {
    -fx-padding: 5 22 5 22;   
    -fx-border-style: null; 
    -fx-background-radius: 0;
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/SudskaPraksa_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;

}

.jurisprudence:hover{
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/SudskaPraksa_Narandzasta_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;  
}

.jurisprudence:pressed, .jurisprudence:default:hover:pressed
{
    -fx-background-image: url('images/SudskaPraksa_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-opacity: 0.7;
}

.jurisprudence:disabled, .jurisprudence:default:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/SudskaPraksa_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}
/*******************************************************************************
 *                                                                             *
 * agenda Button                                                                 *
 *                                                                             *
 ******************************************************************************/

.agenda {
    -fx-padding: 5 22 5 22;   
    -fx-border-style: null; 
    -fx-background-radius: 0;
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/Agenda_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;

}

.agenda:hover{
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/Agenda_Narandzasta_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;  
}

.agenda:pressed, .agenda:default:hover:pressed
{
    -fx-background-image: url('images/Agenda_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-opacity: 0.7;
}

.agenda:disabled, .agenda:default:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/Agenda_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}
/*******************************************************************************
 *                                                                             *
 * refresh Button                                                                 *
 *                                                                             *
 ******************************************************************************/

.refresh {
    -fx-padding: 5 22 5 22;   
    -fx-border-style: null; 
    -fx-background-radius: 0;
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/OsveziBazu_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;

}

.refresh:hover{
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/OsveziBazu_Narandzasta_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;  
}

.refresh:pressed, .refresh:default:hover:pressed
{
    -fx-background-image: url('images/OsveziBazu_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-opacity: 0.7;
}

.refresh:disabled, .refresh:default:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/OsveziBazu_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}
/*******************************************************************************
 *                                                                             *
 * filesForSend Button                                                                 *
 *                                                                             *
 ******************************************************************************/

.filesForSend {
    -fx-padding: 5 22 5 22;   
    -fx-border-style: null; 
    -fx-background-radius: 0;
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/FajloviZaSlanje_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;

}

.filesForSend:hover{
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/FajloviZaSlanje_Narandzasta_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;  
}

.filesForSend:pressed, .filesForSend:default:hover:pressed
{
    -fx-background-image: url('images/FajloviZaSlanje_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-opacity: 0.7;
}

.filesForSend:disabled, .filesForSend:default:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/FajloviZaSlanje_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}
/*******************************************************************************
 *                                                                             *
 * import file Button                                                                 *
 *                                                                             *
 ******************************************************************************/

.importFile {
    -fx-padding: 5 22 5 22;   
    -fx-border-style: null; 
    -fx-background-radius: 0;
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/ImportFile_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;

}

.importFile:hover{
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/ImportFile_Narandzasta_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;  
}

.importFile:pressed, .importFile:default:hover:pressed
{
    -fx-background-image: url('images/ImportFile_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-opacity: 0.7;
}

.importFile:disabled, .importFile:default:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/ImportFile_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}
/*******************************************************************************
 *                                                                             *
 * unlock file Button                                                                 *
 *                                                                             *
 ******************************************************************************/

.unlockFile {
    -fx-padding: 5 22 5 22;   
    -fx-border-style: null; 
    -fx-background-radius: 0;
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/Zakljucavanje_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;

}

.unlockFile:hover{
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/Zakljucavanje_Narandzasta_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;  
}

.unlockFile:pressed, .unlockFile:default:hover:pressed
{
    -fx-background-image: url('images/Zakljucavanje_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-opacity: 0.7;
}

.unlockFile:disabled, .unlockFile:default:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/Zakljucavanje_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}
/*******************************************************************************
 *                                                                             *
 * newEmptyFile file Button                                                                 *
 *                                                                             *
 ******************************************************************************/

.newEmptyFile {
    -fx-padding: 5 22 5 22;   
    -fx-border-style: null; 
    -fx-background-radius: 0;
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/NewFile_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;

}

.newEmptyFile:hover{
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/NewFile_Narandzasta_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;  
}

.newEmptyFile:pressed, .newEmptyFile:default:hover:pressed
{
    -fx-background-image: url('images/NewFile_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-opacity: 0.7;
}

.newEmptyFile:disabled, .newEmptyFile:default:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/NewFile_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}
/*******************************************************************************
 *                                                                             *
 * mustre file Button                                                                 *
 *                                                                             *
 ******************************************************************************/

.mustre {
    -fx-padding: 5 5 5 5;   
    -fx-border-style: null; 
    -fx-background-radius: 0;
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/Muster_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;

}

.mustre:hover{
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/Muster_Narandzasta_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;  
}

.mustre:pressed, .mustre:default:hover:pressed
{
    -fx-background-image: url('images/Muster_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-opacity: 0.7;
}

.mustre:disabled, .mustre:default:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/Muster_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}
/*******************************************************************************
 *                                                                             *
 * Pravosudje file Button                                                                 *
 *                                                                             *
 ******************************************************************************/

.sudskaPraksa {
    -fx-padding: 5 5 5 5;   
    -fx-border-style: null; 
    -fx-background-radius: 0;
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/SudskaPraksa_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;

}

.sudskaPraksa:hover{
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/SudskaPraksa_Narandzasta_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;  
}

.sudskaPraksa:pressed, .sudskaPraksa:default:hover:pressed
{
    -fx-background-image: url('images/SudskaPraksa_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-opacity: 0.7;
}

.sudskaPraksa:disabled, .sudskaPraksa:default:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/SudskaPraksa_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}
/*******************************************************************************
 *                                                                             *
 * task Button                                                                 *
 *                                                                             *
 ******************************************************************************/

.taskBtn {
    -fx-padding: 5 5 5 5;   
    -fx-border-style: null; 
    -fx-background-radius: 0;
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/Obaveza_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;

}

.taskBtn:hover{
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/Obaveza_Narandzasta_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;  
}

.taskBtn:pressed, .taskBtn:default:hover:pressed
{
    -fx-background-image: url('images/Obaveza_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-opacity: 0.7;
}

.taskBtn:disabled, .taskBtn:default:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/Obaveza_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}
/*******************************************************************************
 *                                                                             *
 * delete file Button                                                                 *
 *                                                                             *
 ******************************************************************************/

.deleteFile {
    -fx-padding: 5 5 5 5;   
    -fx-border-style: null; 
    -fx-background-radius: 0;
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/DeleteFile_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;

}

.deleteFile:hover{
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/DeleteFile_Narandzasta_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;  
}

.deleteFile:pressed, .deleteFile:default:hover:pressed
{
    -fx-background-image: url('images/DeleteFile_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-opacity: 0.7;
}

.deleteFile:disabled, .deleteFile:default:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/DeleteFile_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}
/*******************************************************************************
 *                                                                             *
 * delete  Button                                                                 *
 *                                                                             *
 ******************************************************************************/

.deleteBtn {
    -fx-padding: 5 5 5 5;   
    -fx-border-style: null; 
    -fx-background-radius: 0;
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/Delete_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;

}

.deleteBtn:hover{
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/Delete_Narandzasta_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;  
}

.deleteBtn:pressed, .deleteBtn:default:hover:pressed
{
    -fx-background-image: url('images/Delete_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-opacity: 0.7;
}

.deleteBtn:disabled, .deleteBtn:default:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/Delete_Siva_24x24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}
/*******************************************************************************
 *                                                                             *
 * delete  Button                                                                 *
 *                                                                             *
 ******************************************************************************/

.deleteBtn16 {
    -fx-padding: 5 5 5 5;   
    -fx-border-style: null; 
    -fx-background-radius: 0;
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/Delete_Siva_16x16.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;

}

.deleteBtn16:hover{
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/Delete_Narandzasta_16x16.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;  
}

.deleteBtn16:pressed, .deleteBtn16:default:hover:pressed
{
    -fx-background-image: url('images/Delete_Siva_16x16.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-opacity: 0.7;
}

.deleteBtn16:disabled, .deleteBtn16:default:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('images/Delete_Siva_16x16.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

/*******************************************************************************
 *                                                                             *
 * Push Button                                                                 *
 *                                                                             *
 ******************************************************************************/

.invoiceButton {
    -fx-padding: 0 0 0 0;   
    -fx-border-style: null; 
    -fx-background-radius: 0;

    -fx-background-color: #cccccc;

    -fx-font-family: "Malgun Gothic";
    -fx-font-size: 10pt;
    -fx-text-fill: #333333;
}

.invoiceButton:hover{
    -fx-background-color: #FF6600;
}

.invoiceButton:pressed, .invoiceButton:default:hover:pressed
{
    -fx-background-color: #cccccc;
    -fx-text-fill: #333333;
}

/*.button:focused
{
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-style: segments(1, 1);
    -fx-background-insets: 0 0 0 0, 0, 1, 2;   
}*/

.invoiceButton:disabled, .invoiceButton:default:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color: #cccccc;
    -fx-text-fill: #212121;
}

.invoiceButton:default
{
    -fx-background-color: #FF6600;
    -fx-text-fill: #333333;
}

.invoiceButton:default:hover{
    -fx-background-color: #cccccc;
}

/*******************************************************************************
 *                                                                             *
 * addFizickoLice  Button                                                                 *
 *                                                                             *
 ******************************************************************************/

.dodajFizickoLice {
    -fx-padding: 5 22 5 22;   
    -fx-border-style: null; 
    -fx-background-radius: 0;
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('icons/kupac24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;

}

/*******************************************************************************
 *                                                                             *
 * edit  Button                                                                 *
 *                                                                             *
 ******************************************************************************/

.izmeniDugme {
    -fx-padding: 5 22 5 22;   
    -fx-border-style: null; 
    -fx-background-radius: 0;
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('icons/edit24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;

}

/*******************************************************************************
 *                                                                             *
 * addFizickoLice  Button                                                                 *
 *                                                                             *
 ******************************************************************************/

.obrisiDugme {
    -fx-padding: 5 22 5 22;   
    -fx-border-style: null; 
    -fx-background-radius: 0;
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('icons/delete24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;

}
/*******************************************************************************
 *                                                                             *
 * addFizickoLice  Button                                                                 *
 *                                                                             *
 ******************************************************************************/

.dodajDugme {
    -fx-padding: 5 22 5 22;   
    -fx-border-style: null; 
    -fx-background-radius: 0;
    -fx-background-color:#1a1a1a;
    -fx-background-image: url('icons/add24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;

}

